
<%= link_to 'Back', root_path, :class=> "btn btn-info"%>
<table>
 <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%='NAME'%></th>
      <th><%='DESCRIPTION'%></th>
       <th><%='Image'%></th>
    </tr>
    <tr>
      <td><%=@topic.title%></td>
      <td><%=@topic.description%></td>
      <td> <%= cl_image_tag @topic.image.key, :width=>150, :crop=>"fill" %></td>
    </tr>
  </tbody>
</table>
