

<%= link_to "BACK", root_path, :class=>'btn btn-success' %>


<h2 >Profile!</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"><%="User Profile!"%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%='NAME'%></th>
      <th><%='EMAIL'%></th>
      <th><%='GENDER'%></th>
    </tr>
    <tr>
    <td>"M." <%=@user.last_name%></td>
    <td><%=@user.email%></td>
    <td><%=@user.gender%></td>
    </tr>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th colspan="2"><%="Topics Followed!"%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%='TITLE'%></th>
      <th><%='DESCRIPTION'%></th>
    </tr>
    <tr>
      <% @followed_topics.each do |topic| %>
        <td><%=topic.topic.title%></td>
        <td><%=topic.topic.description%></td>
      <%end%>
    </tr>
    <tr>

    <tr>
      <th><%='SUBJECT'%></th>
      <th><%='DESCRIPTION'%></th>
      <th><%='LIKES'%></th>
      <th><%='DISLIKES'%></th>
    </tr>
    <% @questions.each do |question| %>
    <tr>
      <td><%=question.subject%></td>
      <td><%=question.description%></td>
      <td><%=question.likes%></td>
      <td><%=question.dislikes%></td>
    </tr>
    <tr>

    <td><%='Answers!' %></td>
    </tr>
      <%question.answers.order(likes: :desc).each do |answer|%>
        <tr>
          <td></td>
          <td><%= answer.description%></td>
          <td><%=answer.likes%></td>
          <td><%=answer.dislikes%></td>
        </tr>
      <%end%>

    <% end %>
    </tr>

  </tbody>
</table>
