
<%# <%= link_to 'Add Topic', questions_path, :class=> "btn btn-info" %>

<%= link_to "Create Topic", new_topic_path, :class=>'btn btn-success' %>
<%= link_to "Add Question", new_question_path, :class=>'btn btn-success' %>
<%= link_to "Follow Topics", topics_path, :class=>'btn btn-success' %>


<%= search_form_for @searched do |f| %>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont , html:{autocomplete: "false"} %>
  <%= f.submit %>
<% end %>

<h2 >The Question Posted!</h2>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%='SUBJECT'%></th>
      <th><%='DESCRIPTION'%></th>
      <th><%='LIKES'%></th>
      <th><%='DISLIKES'%></th>
      <th><%='ACTIONS'%></th>
    </tr>
    <% @questions.each do |question| %>
    <tr>
      <td><%=question.subject%></td>
      <td><%=question.description%></td>
      <td><%=question.likes%></td>
      <td><%=question.dislikes%></td>
      <td><%= link_to 'Show', question, :class=>"btn btn-primary" %></td>
      <td><%= link_to question do %><i class="bi bi-hand-thumbs-up"></i><% end %></td>
      <td><%= render 'answers/form', :locals => { :answer => question.answers.new } %></td>
    </tr>


      <%question.answers.order(likes: :desc).limit(2).each do |answer|%>
      <tr>

        <td><%= answer.description%></td>
        <td><%=answer.likes%></td>
        <td><%=answer.dislikes%></td>
      </tr>


      <%end%>






      <% end %>
  </tbody>
</table>






